---
import Blogs from '../components/Blogs.astro';
import Hearders from '../components/Hearders.tsx';
import Layout from '../layouts/Layout.astro';
import NavbarIsland from "../components/NavbarIsland.tsx";
---
<header>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
</header>
    <Layout>
        <NavbarIsland client:load />
        <Blogs />
    </Layout>

