---
import Layout from "../layouts/Layout.astro";
import AuthCurso from "../components/AuthCurso"
---
<head>
    <meta charset="UTF-8" />
    <title>Aprendizaje</title>
</head>
<Layout>
    <AuthCurso client:load>
</Layout>
