---
import RegisterForm from "../components/RegisterForm";
import Hearder from "../components/Hearder.astro";
import Layout from "../layouts/Layout.astro";
---

<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
  <body>
    <Layout>
          <RegisterForm client:load/>
    </Layout>
  </body>
</html>