---
import BlogCards from "./BlogCards.astro"
import FeaturedSection from "./FeaturedSection"
import Lacnog from "../logos/Logo-LACNOG-1-300x154.png"
---
	<section class="py-12 px-4 sm:px-6 lg:px-8">
		<div class="max-w-7xl mx-auto">
			<div class="flex flex-wrap justify-center rounded-2xl shadow-md">
				<FeaturedSection client:load />
			</div>
			<div class="flex items-center justify-center h-18 px-4 py-2 md:h-24">
				<button class="bg-white border-2 border-[#FEA723] rounded-3xl text-[#FEA723] shadow-md px-4 py-2 flex justify-around items-center hover:bg-[#FEA723] hover:text-white font-medium transition-all duration-300"><a href="/noticias">All News</a></button>
			</div>
		</div>
	</section>
<section class="px-4 py-8 sm:px-6 lg:px-8">
	<div class="max-w-7xl mx-auto">
			<h3 class="text-3xl font-bold bg-linear-to-r from-[#FEA723] via-[#FE9E1B] to-[#FEA723] bg-clip-text text-transparent mb-6">
				Artículos
			</h3>
				<!-- Separación vertical entre BlogCards -->
			<div class="space-y-12">
			<BlogCards
					title="15 Custom GPTs Transforming Education in 2025"
					description="This guide showcases 15 of the most impactful Custom GPTs emerging from ChatGPT Edu campuses and OpenAI-run GPT-a-thons. Each template is based on proven adoption patterns and measurable results..."
					date="Aug 10, 2023"
					views="213"
					category="Blog"
				/>
			<BlogCards
					title="5 GPTs That Power Your Campus: Built for Staff & Administrators"
					description="Campus staff and administrators are using Custom GPTs to power through repetitive tasks, deliver consistent information, and support departments more effectively..."
					date="Aug 13, 2023"
					views="66"
					category="Blog"
				/>
						<BlogCards
					title="15 Custom GPTs Transforming Education in 2025"
					description="This guide showcases 15 of the most impactful Custom GPTs emerging from ChatGPT Edu campuses and OpenAI-run GPT-a-thons. Each template is based on proven adoption patterns and measurable results..."
					date="Aug 10, 2023"
					views="213"
					category="Blog"
				/>
			</div>
		</div>
	</div>
</section>
	<footer class="bg-[#323232] text-white py-12 px-4 sm:px-6 lg:px-8">
		<div class="max-w-7xl mx-auto text-center">
			<div class="flex items-center justify-center space-x-3 mb-6">
				<img src={Lacnog.src} alt="" class="w-35 h-20">
			</div>
			<p class="text-gray-400 mb-6">Proyecto apoyado por LACNOG - Grupo de operadores de Redes de Latinoamérica y el Caribe</p>
			<div class="border-t border-gray-700 pt-6">
				<p class="text-gray-500">© 2024 Academy. Todos los derechos reservados.</p>
			</div>
		</div>
	</footer>